/*
 CSS Stylesheet
 */

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	font-weight: 200;
	text-align: center;
	color: #C63D0F;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	color: #3B3738;
	padding-top: 20px;
	padding-left: 5em;
	padding-right: 5em;
}

ul {
	padding-left: 10em;
	padding-right: 10em;
}

.centered-image {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}